@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
input,
textarea {
  border: none;
  font-family: "Roboto", sans-serif;
  outline: none;
}
button {
  cursor: pointer;
  transition: all 0.4s ease;
  border: none;
  font-family: "Roboto", sans-serif;
}

.container,
section {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
.top_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid rgba(38, 40, 40, 0.1);
}
.top_nav_left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.top_nav p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.top_nav_right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.top_nav_right p:hover {
  text-decoration: underline;
}
.top_nav_right a:nth-child(1) {
  padding-right: 24px;
}
.main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav_menu p {
  color: rgb(50, 52, 52);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}
.nav_menu a p:hover {
  text-decoration: underline;
}

.main_nav_right {
  display: flex;
  align-items: center;
  gap: 26px;
}

.search_btn {
  cursor: pointer;
}

.phone {
  box-sizing: border-box;
  padding: 12px 24px 12px 24px;
  border: 1px solid rgb(20, 169, 189);
  border-radius: 1000px;
  transition: all 0.4s ease;
}
.phone:hover {
  background: rgb(20, 169, 189);
  transition: all 0.4s ease;
}

.phone p {
  color: rgba(38, 40, 40, 0.9);
  transition: all 0.4s ease;

  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
}
.phone:hover p {
  color: #fff;
}
nav {
  background: #f2fafc;
}

.main_header {
  background: linear-gradient(
    180deg,
    rgb(223, 242, 245),
    rgb(255, 255, 255) 100%
  );
  overflow: hidden;
  padding-bottom: 90px;
}

.main_header_wrapper {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.main_header_title h1 {
  /* H1 */
  color: rgb(50, 52, 52);
  font-size: 44px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1%;
  text-align: left;
  margin-bottom: 24px;
}

.main_header_title h3 {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.main_btn {
  border-radius: 1000px;
  width: 250px;
  padding: 12px 24px 12px 24px;
  background: rgb(20, 169, 189);
  /* Button */
  color: rgb(255, 255, 255);
  font-size: 16px;
  height: 46px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
}
.main_btn:hover,
.revs_btn:hover,
.filter_btn:hover {
  transition: all 0.4s ease;
  background: rgb(16, 150, 168);
  color: #fff;
}

.main_header_btns {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 100px;
}
.tur_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.tur_btn p {
  /* Button */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: left;
}

.main_header_options {
  display: flex;
  align-items: start;
  gap: 32px;
}
.main_header_options p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.main_header_right {
  position: absolute;
  right: -70px;
  top: 0;
}
.main_header_left {
  padding-top: 67px;
}
.main_header_left {
  position: relative;
  z-index: 1;
}
section {
  padding: 80px 0;
}

.block_title {
  margin-bottom: 40px;
}
.block_title h3 {
  /* H2 */
  color: rgb(50, 52, 52);

  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.tur_img img {
  width: 100%;
}

.services_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}

.services_card {
  border-radius: 16px;
  padding: 24px;
  position: relative;
  height: 397px;
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  /* White */
  background: rgb(255, 255, 255);
}

.services_card h4 {
  /* Н4 */
  color: rgb(50, 52, 52);
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}
.services_card h5 {
  /* Small */
  color: rgba(38, 40, 40, 0.6);

  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 23px;
}

.service_price {
  border-radius: 0px 100px 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(20, 169, 189);
  width: 128px;
  height: 36px;
  margin-left: -24px;
  margin-bottom: 20px;
}

.service_price p {
  /* Н4 */
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
}

.serv_img img {
  width: 100%;
}

.actions_card {
  border-radius: 16px;
  padding: 0 48px;
  background: rgb(242, 249, 250);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions_card_date {
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  background: rgb(255, 255, 255);
  margin-bottom: 40px;
}
.actions_card_date p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.actions_card_desc {
  max-width: 583px;
}

.actions_card_desc h3 {
  margin-bottom: 24px;
  color: rgb(50, 52, 52);
  font-size: 44px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1%;
  text-align: left;
}

.actions_card_desc p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.actions_card_actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.actions_card_actions p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}

.actions_card_left {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.actions_card {
  position: relative;
}

.actions_bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.action_img {
  position: relative;
}

.block_title p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.carousel_wrapper {
  width: 100%;
  position: relative;
}

.carousel_container {
  overflow: hidden;
}

.car_arrows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doctor_card img {
  width: 100%;
}

.doctor_card p {
  /* Н4 */
  color: rgb(50, 52, 52);
  margin: 16px 0 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.doctor_card span {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.car_arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  /* Тень */
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  /* White */
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 11;
  margin-top: -24px;
  transition: all 0.4s ease;
}
.car_arrow:hover {
  transition: all 0.4s ease;
  background: #f5f1f1;
}

.car_arrow_right {
  right: -24px;
}
.car_arrow_left {
  left: -24px;
}

.green_bg {
  background: linear-gradient(
    180deg,
    rgb(248, 248, 248),
    rgb(255, 255, 255) 100%
  );
}

.trophy {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.trophies_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}

.trophy_card {
  width: 100%;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  height: 363px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.trophy_card_title h4 {
  /* Н4 */
  color: rgb(50, 52, 52);
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: center;
}

.trophy_card_title p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.trophy_card_img {
  border-radius: 16px;
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(248, 248, 248);
}

.revs_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
}
.revs_btn {
  box-sizing: border-box;
  /* Stroke */
  border: 1px solid rgba(38, 40, 40, 0.1);
  border-radius: 100px;
  padding: 16px 24px 16px 24px;

  color: rgb(50, 52, 52);
  min-width: 187px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  background: #fff;
}

.revs_btn_active {
  border: none;
  color: rgb(255, 255, 255);
  background: rgb(20, 169, 189);
}
.rev_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rev_card .rev_card_img {
  width: 100%;
  border-radius: 16px;
}
.rev_card_play {
  position: absolute;
  cursor: pointer;
}
.trophy h3 {
  text-align: center;
}
.reputation_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}
.reputation_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  padding: 32px;
}
.reputation_card h3 {
  margin-top: 20px;
  margin-bottom: 8px; /* H1 */
  color: rgb(50, 52, 52);

  font-size: 44px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1%;
  text-align: center;
}

.reputation_card p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.choose_card {
  width: 100%;
  border-radius: 16px;
  padding: 32px;
  height: 364px;
  background: rgb(242, 249, 250);
}

.choose_card_num {
  box-sizing: border-box;
  /* Primary 100% */
  border: 1px solid rgb(20, 169, 189);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.choose_card_num p {
  /* Normal */
  color: rgb(50, 52, 52);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.choose_card_left_top h3 {
  /* H3 */
  color: rgb(50, 52, 52);

  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.choose_card_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  justify-content: space-between;
}
.choose_card_left_desc p {
  /* Small */
  color: rgba(38, 40, 40, 0.6);

  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.choose_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.faqs {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 26px;
}
.faqs_list {
  width: 66%;
}

.faq_item {
  border-radius: 16px;
  padding: 24px;
  background: rgb(242, 249, 250);
  margin-bottom: 16px;
}
.faq_item_title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq_item_title h4 {
  /* Н4 */
  color: rgb(50, 52, 52);

  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}
.faq_item_title img {
  transition: all 0.4s ease;
}
.faq_item_active .faq_item_title img {
  transition: all 0.4s ease;
  transform: rotate(180deg);
}
.faq_item_desc {
  width: 96%;
  padding-top: 24px;
  display: none;
}

.faq_item_desc p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.faq_item_active .faq_item_desc {
  display: block;
}

.faq_spec {
  width: 33%;
  border-radius: 16px;
  position: relative;
  /* Тень */
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  padding: 32px;
  background: rgb(255, 255, 255);
}

.faq_spec_title h4 {
  /* H3 */
  color: rgb(50, 52, 52);
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.faq_spec_title h5 {
  /* Н4 */
  color: rgb(50, 52, 52);
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.faq_spec_img {
  position: absolute;
}
.faq_spec_desc {
  border-radius: 16px;
  width: 100%;
  /* Тень */
  padding: 16px;
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  /* White */
  background: rgb(255, 255, 255);
  margin-top: 290px;
  position: relative;
  margin-bottom: 37px;
}

.faq_spec_desc p {
  /* Н4 */
  color: rgb(50, 52, 52);
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.faq_spec_desc span {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.faq_btn {
  width: 100%;
}

.map {
  border-radius: 16px;
  padding: 78px 84px;
  background: url(./assets/images/map.png);
  background-size: cover;
  display: flex;
}

.contacts_block {
  border-radius: 16px;
  padding: 32px;
  /* Тень */
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  /* White */
  background: rgb(255, 255, 255);
}
.contact_item p {
  /* Small */
  color: rgba(38, 40, 40, 0.6);
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.contact_item h4 {
  /* Н4 */
  color: rgb(50, 52, 52);

  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.contact_item {
  margin-bottom: 24px;
}
.contact_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.point {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
  margin-top: 16px;
}
.point p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.c_desc p {
  /* Small */
  color: rgba(38, 40, 40, 0.6);

  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

footer {
  background: rgb(44, 51, 64);
  padding: 40px 0 60px;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_top p {
  /* Normal */
  color: rgba(255, 255, 255, 0.8);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.footer_main {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 24px 0 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_wrapper p {
  /* Normal */
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}

.footer_contacts h4 {
  /* Н4 */
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}
.footer_socials {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}
.footer_menu p {
  margin-bottom: 12px;
}
.footer_menu p:hover,
.footer_btm a p:hover {
  text-decoration: underline;
}
.footer_q h4 {
  /* Н4 */
  color: rgb(255, 255, 255);
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: right;
}
.footer_q p {
  text-align: right;
  padding-bottom: 32px;
}
.footer_q a {
  color: rgb(255, 255, 255);

  text-decoration: underline;
}

.footer_btm {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 24px;
}
.secondary_header {
  padding-bottom: 68px;
}
.secondary_header .main_header_btns {
  margin-bottom: 50px;
}
.secondary_header .main_header_left {
  padding-top: 40px;
  width: 100%;
}
.secondary_options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;

  /* Тень */
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  padding: 32px;
  background: rgb(255, 255, 255);
}
.secondary_options div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(159, 219, 227);
}
.secondary_options p {
  text-align: center;
}

.breadcump {
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 11px;
}
.breadcump p {
  /* Small */
  color: rgb(50, 52, 52);

  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.breadcump a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 6px;
}

.moto {
  border-radius: 16px;

  /* Тень */
  gap: 40px;
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
}
.moto_left h4 {
  /* H2 */
  color: rgb(50, 52, 52);
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}
.moto_left h5 {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  margin-bottom: 54px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.moto_left h2 {
  /* H1 */
  color: rgb(50, 52, 52);
  margin-bottom: 54px;
  font-size: 44px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1%;
  text-align: left;
}

.director_cards {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}
.director_card {
  width: 33%;
  border-radius: 16px;
  height: 150px;
  padding: 24px;
  background: rgb(242, 249, 250);
}

.director_card p {
  /* H2 */
  color: rgb(50, 52, 52);
  margin-bottom: 11px;
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}
.director_card span {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.security {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.security_card {
  max-width: 322px;
}
.security_card p {
  /* Н4 */
  color: rgb(50, 52, 52);
  margin: 24px 0 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.security_card span {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.materials_left {
  border-radius: 16px;
  width: 33%;
  /* Тень */
  height: 501px;
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  /* White */
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.materials_left p {
  /* H3 */
  color: rgb(50, 52, 52);

  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: center;
}
.materials_socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.materials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.materials_right {
  width: 66%;
}
.materials_right img {
  width: 100%;
  cursor: pointer;
}

.doctors_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}

.page_title h3 {
  font-size: 44px;
  font-weight: 500;
  line-height: 110%;
}

.doctor_header {
  display: flex;
  align-items: start;
  gap: 26px;
}
.doctor_header_w {
  padding-bottom: 40px;
}
.doctor_header .main_header_options {
  margin-top: 200px;
}
.spec_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
}
.specialization_card {
  border-radius: 16px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 40px;
  /* Тень */
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  /* White */
  background: rgb(255, 255, 255);
}

.specialization_card p {
  /* Н4 */
  color: rgb(50, 52, 52);

  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.descr_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid rgba(38, 40, 40, 0.1);
  padding: 24px 0 16px;
}
.descr_item p {
  /* Normal */
  color: rgb(50, 52, 52);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.descr_item h4 {
  /* Н4 */
  color: rgb(50, 52, 52);

  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: right;
}
.show_more {
  cursor: pointer;
  /* Normal */
  width: 134px;
  color: rgb(50, 52, 52);
  border-bottom: 1px solid rgb(50, 52, 52);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 32px;
}

.sertifs {
  display: flex;
  align-items: center;
}

.search_input_p {
  box-sizing: border-box;
  /* Stroke */
  border: 1px solid rgba(38, 40, 40, 0.1);
  border-radius: 1000px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* White */
  overflow: hidden;
  background: rgb(255, 255, 255);
  padding-right: 23px;
  margin-bottom: 40px;
}

.search_input_p input {
  height: 100%;
  text-indent: 24px;
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.search_input_p img {
  cursor: pointer;
}
.filter_btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.filter_btn {
  box-sizing: border-box;
  /* Stroke */
  border: 1px solid rgba(38, 40, 40, 0.1);
  border-radius: 100px;
  padding: 16px 24px 16px 24px; /* Normal */
  color: rgb(50, 52, 52);
  height: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(255, 255, 255);
}

.active_filter_btn {
  border-radius: 100px;
  color: rgb(255, 255, 255);
  background: rgb(20, 169, 189);
}

.secondary_block_title {
  margin-top: 40px;
  border-bottom: 2px solid rgba(38, 40, 40, 0.1);
  padding-bottom: 24px;
  margin-bottom: 26px;
}
.secondary_block_title h3 {
  /* H3 */
  color: rgb(50, 52, 52);

  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.price_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(159, 219, 227);
  /* Тень */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.portfolio_media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 26px;
  margin: 32px 0 40px;
}

.portfolio_media_item img {
  width: 100%;
}

.portfolio_media_pag_item p {
  /* Normal */
  color: rgb(50, 52, 52);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.portfolio_media_pag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.portfolio_media_pag_item {
  cursor: pointer;
  border-radius: 4px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 7px 1px 7px;
  min-width: 32px;
}

.portfolio_media_pag_item_active {
  background: rgb(185, 230, 236);
}
.car_arrow_p {
  position: static;
  margin: 0;
}

.portfolio_container {
  padding-bottom: 80px;
}

.services_header {
  background: transparent;
}
.services_header .main_header_btns {
  margin-bottom: 108px;
}
.services_header .main_header_left {
  padding-top: 100px;
}
.services_avatar {
  position: absolute;
  right: -100px;
  top: 0px;
}

.services_header {
  padding-bottom: 50px;
}
.service_descs {
  display: flex;
  align-items: start;
  gap: 26px;
  justify-content: space-between;
}
.service_desc {
  width: 50%;
}

.service_desc h4 {
  /* Н4 */
  color: rgb(50, 52, 52);
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.service_desc_item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.service_desc_item p {
  /* Normal */
  color: rgb(50, 52, 52);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.method_card {
  padding: 32px;
  border-radius: 16px;

  /* Тень */
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  /* White */
  background: rgb(255, 255, 255);
  margin-top: 32px;
  display: flex;
  align-items: start;
  gap: 26px;
}

.method_card_desc h3 {
  /* H3 */
  color: rgb(50, 52, 52);
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}
.method_card_desc h5 {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.method_card_desc h4 {
  margin-bottom: 18px;
}

.method_card_desc .service_desc {
  width: 100%;
  margin-bottom: 20px;
}
.method_card_desc .service_desc_item {
  margin-bottom: 12px;
}

.step_card {
  border-radius: 16px;
  padding: 24px 24px 0px 24px;
  height: 447px;
  position: relative;
  background: rgb(242, 249, 250);
}
.step_card h4 {
  /* Н4 */
  color: rgba(38, 40, 40, 0.6);
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}
.step_card h3 {
  /* Н4 */
  color: rgb(50, 52, 52);
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.step_card p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.card_ellipse {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.price_item p {
  /* Normal */
  color: rgb(50, 52, 52);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.price_item p:last-child {
  text-decoration: underline;
}
.price_item span {
  /* Н4 */
  color: rgb(50, 52, 52);

  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.seo_desc h4 {
  /* Н4 */
  color: rgb(50, 52, 52);

  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
  margin-bottom: 16px;
}

.seo_desc ul {
  padding-left: 20px;
  margin-bottom: 40px;
}
.seo_desc p {
  /* Normal */
  color: rgb(50, 52, 52);
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.seo_desc {
  max-width: 1018px;
}
.effect_card img {
  width: 100%;
}

.services_carousel .services_card {
  box-shadow: none;
  border: 1px solid #00000014;
}

.text_rev_card {
  border-radius: 16px;
  height: 500px;
  padding: 32px;
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text_rev_card_author_avatar {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  object-fit: cover;
}

.text_rev_card_author {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.text_rev_card_author p {
  /* Н4 */
  color: rgb(50, 52, 52);
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.text_rev_card_text {
  height: 220px;
  overflow: auto;
  padding-right: 24px;
}

.text_rev_card_text::-webkit-scrollbar {
  width: 4px; /* Width of the vertical scrollbar */
}

.text_rev_card_text::-webkit-scrollbar-track {
  border-radius: 10px;

  background: rgb(217, 217, 217);
}

.text_rev_card_text::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background: rgba(38, 40, 40, 0.3);
}

.text_rev_card_text p {
  /* Normal */
  color: rgb(50, 52, 52);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.text_rev_card_top_btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text_rev_card_top_btm p {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.rev_text_carousel {
  padding: 40px 0;
}
.reviews_block {
  display: none;
}

.reviews_block_active {
  display: block;
}

.ais {
  justify-content: start;
}
.method_card {
  display: none;
}

.active_method_card {
  display: flex;
}

.calculator_wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 26px;
}

.calculator_left {
  width: 66.66%;
  border-radius: 16px;
  padding: 32px 48px 32px 48px;
  /* Тень */
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  /* White */
  background: rgb(255, 255, 255);
}

.calc_title {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(38, 40, 40, 0.1);
}
.calc_title h3 {
  /* H3 */
  color: rgb(50, 52, 52);

  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.calculator_left_img {
  margin: 40px 0;
}
.calculator_left_desc {
  padding-bottom: 40px;
}

.calculator_left_desc p,
.calc_steps p {
  /* Normal */
  color: rgb(50, 52, 52);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.calc_steps {
  display: flex;
  align-items: center;
  gap: 8px;
}

.calc_steps div {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(20, 169, 189);
}

.calc_steps div span {
  /* Normal */
  color: rgb(255, 255, 255);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.calculator_left_btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator_right {
  border-radius: 16px;
  width: 33%;
  /* Тень */
  padding: 32px;
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  /* White */
  height: 532px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.calculator_author img {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  object-fit: cover;
}

.calculator_author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 36px;
}
.calculator_author p {
  /* H3 */
  color: rgb(50, 52, 52);
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}
.calculator_author span {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.calculator_author_text {
  border-radius: 8px;
  /* Тень */
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  padding: 16px;
  background: #ffffff;
}

.calculator_author_text p {
  /* Normal */
  color: rgb(50, 52, 52);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.calc_author_btm p {
  color: rgb(50, 52, 52);
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.calc_author_btm span {
  color: rgb(20, 169, 189);
}

.calculator_left_btm {
  box-sizing: border-box;
  padding-top: 16px;
  /* Stroke */
  border-top: 1px solid rgba(38, 40, 40, 0.1);
}
.calculator_left {
  min-height: 532px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hidden {
  display: none;
}

.calc_quests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 40px;
}
.calc_quest {
  border-radius: 56px;
  padding: 20px 24px 20px 24px;
  /* Тень */
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
  /* White */
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.calc_quest {
  display: flex;
  align-items: center;
  gap: 8px;
}
.calc_quest input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.calc_quest p {
  /* Normal */
  color: rgb(50, 52, 52);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.calculator_left_btm h4 {
  /* H3 */
  color: rgb(50, 52, 52);
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.calc_rec {
  margin-top: 40px;
}

.calc_rec p {
  /* Normal */
  color: rgb(50, 52, 52);
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.calc_page {
  padding-top: 40px;
}
.calc_page_step {
  width: 66%;
}
.calc_page_step .calculator_left {
  width: 100%;
  height: auto;
  min-height: auto;
  margin-bottom: 24px;
}
.calc_page_step_lines {
  margin-bottom: 40px;
}

.calc_page_step_lines p {
  /* Н4 */
  color: rgb(50, 52, 52);
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.calc_page_step_line {
  width: 100%;
  height: 4px;
  border-radius: 16px;
  background: rgba(38, 40, 40, 0.05);
}
.show_more_all_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.calc_page_step_value {
  height: 100%;
  border-radius: 16px;

  /* Primary 100% */
  background: rgb(20, 169, 189);
}

.step_form h3 {
  /* H2 */
  color: rgb(50, 52, 52);
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.mt80 {
  margin-top: 80px;
}
.step_form {
  margin-top: 80px;
}

nav {
  position: relative;
}
.search_wrapper {
  width: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  z-index: 2;
  transition: all 0.7s ease;
  transform: translateY(-150%);
}
.active_search_wrapper {
  transition: all 0.7s ease;
  transform: translateY(0);
}

.search_wrapper_top {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.search_wrapper_top p {
  /* H3 */
  color: rgb(50, 52, 52);

  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}
.search_wrapper_top span {
  /* Normal */
  color: rgba(38, 40, 40, 0.6);
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.search_wrapper img {
  cursor: pointer;
}

.nav_search_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  /* Stroke */
  padding: 8px 24px 8px 24px;
  border: 1px solid rgba(38, 40, 40, 0.1);
  border-radius: 1000px;
  height: 46px;
  margin-bottom: 18px;
}

.nav_search_input input {
  /* Small */
  color: rgba(38, 40, 40, 0.6);
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  width: 60%;
}

.nav_search_input_icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav_search_input_icons div {
  /* Stroke */
  width: 1px;
  height: 20px;
  background: rgba(38, 40, 40, 0.1);
}

.search_wrapper_desc {
  padding: 32px 0;
}
.search_wrapper_desc h4,
.search_wrapper_desc h3 {
  /* Н4 */
  color: rgb(50, 52, 52);
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: left;
}

.search_wrapper_desc h3 {
  margin-bottom: 16px;
}
.search_wrapper_desc ul {
  padding-left: 20px;
}
.search_wrapper_desc li {
  /* Normal */
  color: rgba(38, 40, 40, 0.8);
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.services_nav_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.photo_card img {
  width: 100%;
}
.mob_menu_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.mob_menu_btn img {
  width: 40px;
}
.mob_menu_wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 111;
  left: 0;
  top: 0;
  background: #fff;
  padding: 10px;
  transition: all 0.4s ease;
  transform: translateX(100%);
}
.visible_mob_menu_wrapper {
  transition: all 0.4s ease;
  transform: translateX(0);
}
.mob_menu_exit {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.active_menu {
  text-decoration: underline;
}
@media only screen and (max-width: 1400px) {
  .container,
  section {
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1190px) {
  .mob_menu_btn {
    display: flex;
  }
  .main_nav .nav_menu {
    display: none;
  }
  .main_header_wrapper {
    padding-bottom: 20px;
  }
  .services_cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .trophies_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 950px) {
  .calculator_left_img img,
  .calc_page_step {
    width: 100%;
  }
  .calculator_wrapper {
    flex-direction: column;
  }
  .calculator_left {
    min-height: auto;
    width: 100%;
  }
  .calculator_right {
    width: 100%;
    height: auto;
    gap: 20px;
  }
  .services_avatar {
    display: none;
  }
  .service_descs {
    flex-direction: column;
  }
  .service_desc {
    width: 100%;
  }
  .active_method_card {
    flex-direction: column;
  }
  .spec_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .descr_item {
    flex-direction: column;
    align-items: start;
  }
  .doctor_header {
    flex-direction: column;
  }
  .doctor_header .main_header_options {
    margin-top: 0;
  }
  .materials {
    flex-direction: column;
  }
  .materials_left {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .materials_right {
    width: 100%;
  }
  .security {
    flex-direction: column;
    gap: 25px;
  }
  .security_card {
    max-width: 100%;
  }
  .moto {
    flex-direction: column;
  }
  .doctors_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
  }
  .reputation_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
  }
  .top_nav {
    display: none;
  }
  .main_header_right {
    position: static;
    width: 100%;
  }
  .main_header_wrapper {
    flex-direction: column;
    padding-bottom: 0;
  }
  .main_header {
    padding-bottom: 0;
  }
  section {
    padding: 40px 10px;
  }
  .actions_card_right {
    width: 45%;
  }
  .action_img {
    width: 100%;
  }
  .actions_card {
    padding: 20px;
  }
  .faqs {
    flex-direction: column;
  }
  .faqs_list,
  .faq_spec {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .nav_menu {
    flex-direction: column;
  }
  .nav_menu p {
    font-size: 20px;
  }

  .search_wrapper_top {
    padding: 20px 0;
    align-items: start;
    margin: 0;
  }
  .search_wrapper_top p {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .search_wrapper_desc {
    padding: 0;
    padding-bottom: 20px;
  }
  .search_wrapper_top span {
    padding: 0;
  }
  .main_header_title {
    margin-bottom: 0 !important;
  }
  .calc_page {
    padding-top: 30px;
  }
  .calc_author_btm p {
    text-align: center;
  }
  .step_form,
  .calc_quests {
    margin-top: 20px;
  }
  .calculator_left_desc {
    padding-bottom: 15px;
  }
  .step_form h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .method_card,
  .calculator_left {
    padding: 20px;
  }
  .calculator_left_btm {
    flex-direction: column;
    gap: 20px;
  }
  .calculator_author {
    flex-direction: column;
  }
  .calculator_author p,
  .calculator_author span {
    text-align: center;
  }
  .calc_quests {
    grid-template-columns: repeat(1, 1fr);
  }
  .calc_quest {
    padding: 14px;
    border-radius: 10px;
  }
  .method_card_img img,
  .method_card_img,
  .doctor_header_img {
    width: 100%;
  }
  .spec_cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .specialization_card {
    padding: 20px;
  }
  .sertifs {
    flex-direction: column;
  }
  .sertifs img {
    width: 100%;
  }
  .security_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .security_card p,
  .security_card span {
    text-align: center;
    width: 90%;
  }
  .portfolio_media {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .portfolio_container {
    padding-bottom: 20px;
  }
  .materials_left p {
    font-size: 19px;
  }
  .materials_left {
    gap: 14px;
  }
  .materials {
    gap: 25px;
  }
  .trophy_card {
    padding: 20px;
  }
  .security_card p {
    margin-top: 15px;
  }
  .moto_left h2 {
    font-size: 25px;
  }
  .director_card {
    width: 100%;
    height: auto;
  }
  .moto_right img {
    width: 100%;
  }
  .moto_left h5,
  .moto_left h2 {
    margin-bottom: 20px;
  }
  .moto {
    gap: 25px;
    padding: 20px;
  }
  .director_cards {
    flex-direction: column;
  }
  .doctors_list {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .main_nav_right .phone_wrapper {
    display: none;
  }
  .main_header_options {
    flex-direction: column;
  }
  .main_header_right {
    display: none;
  }
  .main_header_btns {
    flex-direction: column;
  }
  .main_header_title h1 {
    font-size: 32px;
    margin-bottom: 18px;
  }
  br {
    display: none;
  }
  .main_header_left {
    padding-top: 30px;
  }
  .main_header_btns {
    margin-bottom: 30px;
  }
  .block_title h3 {
    font-size: 25px;
  }
  .block_title {
    margin-bottom: 25px;
  }
  section {
    padding: 30px 10px;
  }
  .services_cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .services_card {
    height: auto;
  }
  .actions_bg {
    display: none;
  }
  .actions_card,
  .actions_card_actions {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .actions_card_right {
    width: 100%;
  }
  .actions_card_desc h3 {
    font-size: 25px;
  }
  .actions_card_date,
  .actions_card_desc p {
    margin-bottom: 20px;
  }
  .actions_card {
    padding-bottom: 0;
    gap: 20px;
  }
  .car_arrows {
    display: none;
  }
  .trophies_cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .trophy_card {
    height: auto;
    gap: 20px;
  }
  .revs_btns {
    flex-direction: column;
  }
  .revs_btns button {
    width: 100%;
  }
  .reputation_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .choose_card {
    height: auto;
    padding: 20px;
    flex-direction: column;
    gap: 30px;
  }
  .choose_card_right img,
  .choose_card_right {
    width: 100%;
  }
  .faq_item_title h4 {
    width: 90%;
  }
  .faq_item {
    padding: 15px;
  }
  .faq_spec_img {
    width: 100%;
  }
  .map {
    padding: 20px;
  }
  .contacts_block {
    padding: 20px;
  }
  .contact_items {
    flex-direction: column;
    align-items: start;
  }
  .footer_top {
    flex-direction: column;
    gap: 20px;
  }
  .footer_main,
  .footer_btm {
    flex-direction: column;
    gap: 20px;
  }
  footer {
    padding-bottom: 30px;
  }
  .footer_q p,
  .footer_q h4 {
    text-align: left;
  }
  .text_rev_card {
    height: auto;
    gap: 25px;
    padding: 20px;
  }
  .services_cards .services_card:last-child {
    display: none;
  }
  .main_header_options div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .main_header_options div p {
    text-align: center;
  }
  .secondary_options {
    padding: 20px;
  }
  .secondary_options div {
    border-right: 0;
  }
  .secondary_header .main_header_btns {
    margin-bottom: 30px;
  }
  .secondary_header .main_header_left {
    padding-top: 30px;
  }
  .filter_btn {
    padding: 8px 12px;
    font-size: 14px;
  }
  .filter_btns {
    gap: 9px;
  }
  .price_item {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .secondary_block_title {
    margin: 30px 0 20px;
  }
  .container,
  section {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container section {
    padding-left: 0;
    padding-right: 0;
  }
}
